dropdown-menu-active /*css sub menu*/
.menu-large {
    position: static !important;
}

.megamenu {
    width: 100%;
}

    .megamenu > li > ul {
        padding: 0;
        margin: 0;
    }

        .megamenu > li > ul > li {
            list-style: none;
        }

            .megamenu > li > ul > li a {
                font-family: roboto-light;
                display: block;
                clear: both;
                font-weight: normal;
                line-height: 25px;
                white-space: normal;
                font-size: 14px;
                color: #000;
                text-decoration: none;
                padding-bottom: 0px;
                padding-top:5px;
            }

                .megamenu > li > ul > li a:hover {
                    color: #978d8d !important;
                }


.dropdown:hover {
}


.dropdown-header {
    font-family: roboto-light;
    padding: 25px 0 0px !important;
    font-size: 14px;
    font-weight: bold !important;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 15px;
}

    .dropdown-header:hover {
        background: none !important;
    }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background: none !important;
}

.dropdown-menu {
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 15px 45px 50px;
    border: none;
    top: 12px !important;
    border-top: 1px solid #ddd;
}

    .dropdown-menu > .item {
        float: left;
        padding: 0 10px;
        width:200px;
    }

.sub-menu {
    background: #fff;
    width: 100%;
    border: none !important;
    padding: 0 15px !important;
    position: fixed;
    left: 0;
    display: none;
    padding: 0 15px;
}


.sub-menu-3 > li, .sub-menu-4 > li {
    float: left;
    width: 100%;
    line-height: 0 !important;
}

    .sub-menu-3 > li > a, .sub-menu-4 > li > a {
        line-height: 30px;
    }

    .sub-menu-3 > li > a {
        padding: 0 !important;
        padding-left: 15px !important;
    }

    .sub-menu-4 > li > a {
        padding: 0 !important;
        padding-left: 30px !important;
    }
.article-menu {
    float: right !important;
    padding-left: 35px !important;
}
/*Begin menu mobile*/
header {
    position: fixed !important;
    /*top: 20px!important;*/
    left: 0;
    z-index: 777;
    width: 100%;
    background: #fff;
}

    header.font-sfui {
        display: none;
        border-bottom: 1px solid #ddd;
    }

    header > .content_wp > .row {
        height: 100%;
    }

    header.fixed {
        position: fixed;
        top: -66px;
        left: 0
    }

    header.header-fixed-show {
        top: 0;
        transition: 0.3s
    }

    header .container {
        color: #313132;
        text-transform: uppercase;
        height: 50px;
        line-height: 100%
    }

    header ul {
        display: table;
        height: 100%
    }

        header ul li {
            list-style: none;
            display: table-cell;
            vertical-align: middle;
            padding-right: 40px
        }

        header ul.pull-right li {
            padding-left: 20px;
            padding-right: 0
        }
#header-mobile ul.pull-right{
    float: right!important;
}

header .ul-submenu > li {
    display: table-cell !important;
    position: relative
}

        header .ul-submenu > li:hover .ul-submenu-child {
            display: flex !important
        }

    header .ul-submenu-child {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: -60%;
        align-items: flex-start;
        width: 16rem;
        height: auto;
        background: #fff;
        padding: 5px 15px;
        border: 1px solid #e7e7e7;
        display: none
    }

        header .ul-submenu-child::before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 8px 6px;
            border-color: transparent transparent #e7e7e7 transparent;
            position: absolute;
            top: -8px;
            left: 49%;
            content: ""
        }

        header .ul-submenu-child li {
            width: 100%;
            text-align: left;
            border-bottom: 1px solid #e7e7e7;
            font-size: 14px;
            padding: 0
        }

            header .ul-submenu-child li a {
                width: 100%;
                float: left;
                padding: 10px 0;
                position: relative;
                left: 0;
                -webkit-transition: left .2s ease;
                -moz-transition: left .2s ease;
                -o-transition: left .2s ease;
                transition: left .2s ease
            }

                header .ul-submenu-child li a:hover {
                    left: 7px
                }

            header .ul-submenu-child li:last-child {
                border-bottom: none
            }
/*fix for 2 menu version - remove header*/
.icon-header {
    padding: 5px 10px !important;
    -webkit-background-size: contain !important;
    background-size: contain !important;
    width: 15px;
    height: 15px;
    margin-top: 1px;
    display: inline-block
}

.ic-logo {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    display: inline-block;
    background: url(../../images/dchic-logo-black-medium.png) center center no-repeat
}

.ic-menu {
    display: inline-block;
    background: url(../../images/ic-menu-gray.png) center center no-repeat
}

header .ic-menu:hover {
    background: url(../../images/ic-menu-black.png) center center no-repeat
}

header .ic-menu.active {
    background: url(../../images/ic-menu-close-gray.png) center center no-repeat !important;
}

.search {
    position: relative
}

.ic-search {
    position: relative;
    display: inline-block;
    background: url(../../images/ic-search-white.png) center center no-repeat
}

    .ic-search:hover {
        background: url(../../images/ic-search-black.png) center center no-repeat
    }

.lbl-search {
    position: relative;
    top: -5px;
    right: 40px
}

.ic-shopping-cart {
    display: inline-block;
    /*background: url(/images/ic-shopping-cart-white.png) center center no-repeat;*/
    position: relative;
    background:none;
}

    .ic-shopping-cart:hover {
        /*background: url(/images/ic-shopping-cart-black.png) center center no-repeat;*/
           background:none;
    }

.ic-user {
    display: inline-block;
    /*background: url(/images/ic-user-white.png) center center no-repeat;*/
    background: none;
}

.ic-loggedin {
    max-width: 166px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.ic-shopping-cart .cart-item-num {
    /*position: absolute;
    font-size: 10px;
    top: -10px;
    left: 11px*/
    font-size: 14px;
    color: #de5d39;
}

.ic-user:hover {
    /*background: url(/images/ic-user-black.png) center center no-repeat*/
    background: none;
}

.ic-search-move {
    background: url(../../images/ic-search-gray.png) center center no-repeat
}

.ic-user-move {
    /*background: url(/images/ic-user-gray.png) center center no-repeat*/
    background:none;
}

.ic-shopping-cart-move {
    /*background: url(/images/ic-shopping-cart-gray.png) center center no-repeat;*/
    background:none;
}

#search-box-header {
    /*position: fixed!important;
    right: 431px;
    top: 25px;*/
    position: absolute !important;
    left: -162px;
    top: -8px;
    width: 166px;
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.search-box-loggin {
    right: 455px!important;
}

    input#search-box-header:focus {
        border-color: inherit;
        box-shadow: none;
        border-color: #ced4da;
    }

.search-box-wp {
    display: inline-block;
}
.tt-menu {
    top: 22px !important;
    left: -162px !important;
}
.tt-hint {
    width: 166px !important;
    top: -8px !important;
    left: -162px !important;
}
/*end fix for 2 menu version*/
header a {
    color: #313132
}

header.header-m-move {
    position: fixed !important;
}

    header a:visited,
    header a:active {
        color: inherit
    }

header .submenu {
    background: #FFF;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-family: Arial, verdana;
    font-size: 16px;
    text-align: center;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%
}

header .submenu ul {
    margin: 0 auto
}

    header .submenu li:last-child {
        padding-right: 0
    }

    header .submenu a,
    header .submenu span {
        color: #313132
    }

header.home.active {
    background: none;
}

    header.home.active a,
    header.home.active a:link {
        color: #fff
    }

    header.home.active .ic-logo {
        background: url(../../images/dchic-logo-white-medium.png) center center no-repeat
    }

    header.home.active .ic-menu {
        background: url(../../images/ic-menu-white.png) center center no-repeat
    }

    header.home.active .ic-search {
        background: url(../../images/ic-search-white.png) center center no-repeat
    }

    header.home.active .ic-shopping-cart {
        background: url(../../images/ic-shopping-cart-white.png) center center no-repeat
    }

    header.home.active .ic-user {
        background: url(../../images/ic-user-white.png) center center no-repeat
    }

    header.home.active a,
    header.home.active span {
        color: #FFF
    }

header a#ic-logo {
    display: inline-block;
    margin-top: 15px;
    width: 124px
}

    header a#ic-logo > img {
        max-width: 100%
    }

.hidden {
    display: none;
}

#top-menu-right > .text-right {
    float: right!important;
    margin-bottom: 0 !important;
}

#top-menu-right > ul > li {
    line-height: 0;
    display: inline !important;
    float: left;
    padding-right: 15px;
}
    #top-menu-right > ul > li > a{
        display: inline-block;
        width: 100%;
        height: inherit;
        padding: 6px 15px!important;
        margin-top: 7px;
    }
        .ic-bg-right {
            background-origin: border-box;
            background-position-x: left;
        }
    .ic-bg-right:hover {
        background-position-x: left;
    }
    /*Menu mobile*/
    .menu-m {
        width: 100%;
        min-height: 100%;
        position: fixed;
        left: 0;
        top: -500%;
        z-index: 100000;
        background: #fff;
        overflow: auto;
        transition: 0.3s
    }

    .menu-m.active {
        margin-top: 50px;
        top: 0;
        transition: 0.3s
    }

    .menu-m .menu-m-wrap {
        width: 100%;
        float: left;
        overflow-y: scroll;
        border-top: 1px solid #ddd;
    }

.menu-m-wrap2 {
    display: none;
    height: 600px;
    overflow-y: scroll;
}

.menu-m .visible-xs {
    display: block;
    width: 100%;
    float: left;
    background: #FFF;
    height: auto;
    padding-left: 15px;
    padding-right: 15px
}

    .menu-m .visible-xs .ul-submenu-m-wrap {
        width: 100%;
        float: left;
        display: none
    }

.menu-m ul.visible-xs > li {
    width: 100%;
    float: left;
    text-align: left;
    position: relative;
    padding: 0
}

    .menu-m ul.visible-xs > li > a {
        text-transform: uppercase;
        font-family: roboto-light;
        color: #000;
        width: 100%;
        float: left;
        padding: 15px 0 5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .5);
        font-size: 14px;
        text-decoration: none;
    }

    .menu-m ul.visible-xs > li i {
        font-size: 16px;
        position: relative;
        float: right;
        font-style: normal
    }

.menu-m ul.ul-submenu-m li.menu-m-account {
    flex-flow: column;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .5)
}

    .menu-m ul.ul-submenu-m li.menu-m-account > a {
        width: 100%;
        padding: 7px 0 7px 25px !important;
        background-size: 16px 16px !important;
        background-position: 0 5px;
        background-position-x: 0;
        background-position-y: 5px;
        height: auto;
        text-transform: initial;
        border-bottom: none
    }

.menu-m ul.ul-submenu-m li.menu-m-social {
    display: flex;
    justify-content: center;
    padding: 30px 0 10px;
}

    .menu-m ul.ul-submenu-m li.menu-m-social a {
        padding: 5px 10px;
        display: block;
        float: left
    }

    .menu-m ul.ul-submenu-m li.menu-m-social i {
        font-size: 30px;
        color: #313132
    }

.menu-m .ul-submenu-m-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    background: #fff;
    padding: 5px 15px
}

    .menu-m .ul-submenu-m-child li {
        width: 100%;
        text-align: left;
        font-size: 14px;
        padding-right: 0;
        margin-right: 0;
    }

        .menu-m .ul-submenu-m-child li a {
            font-family: roboto-light;
            width: 100%;
            float: left;
            padding: 0;
            text-transform: initial;
            color: #000;
            text-decoration: none;
        }

        .menu-m .ul-submenu-m-child li:last-child {
            border-bottom: none
        }

        .menu-m .ul-submenu-m-child li.li-submenu-m-head a {
            /*text-transform: uppercase*/
        }

.menu-m ul {
    display: table;
    height: 100%
}

    .menu-m ul li {
        list-style: none;
        display: table-cell;
        vertical-align: middle;
        padding-right: 40px
    }

.menu-m .icon-.menu-m {
    -webkit-background-size: contain !important;
    background-size: contain !important;
    width: 15px;
    height: 15px;
    margin-top: 1px
}

.menu-top .ic-menu-toggle {
    text-decoration: none;
    font-family: roboto-medium;
}

    .menu-top .ic-menu-toggle:active, .menu-top .ic-menu-toggle:visited, .menu-top .ic-menu-toggle:focus {
        color: none !important;
    }

    .menu-m .ic-logo {
        margin-top: 15px;
        width: 100%;
        height: 50px;
        display: inline-block;
        background: url(../../images/dchic-logo-black-medium.png) center center no-repeat
    }

.menu-m .ic-menu {
    display: inline-block;
    background: url(../../images/ic-menu-gray.png) center center no-repeat
}

    .menu-m .ic-menu:hover {
        background: url(../../images/ic-menu-black.png) center center no-repeat
    }

.menu-m .ic-search {
    position: relative;
    display: inline-block;
    background: url(../../images/ic-search-gray.png) center center no-repeat
}

    .menu-m .ic-search:hover {
        background: url(../../images/ic-search-black.png) center center no-repeat
    }

.menu-m .lbl-search {
    position: relative;
    top: -5px;
    right: 40px
}

.menu-m .ic-shopping-cart {
    display: inline-block;
    background: url(../../images/ic-shopping-cart-gray.png) center center no-repeat
}

    .menu-m .ic-shopping-cart:hover {
        background: url(../../images/ic-shopping-cart-black.png) center center no-repeat
    }


.menu-m .ic-user {
    display: inline-block;
    background: url(../../images/ic-user-gray.png) center center no-repeat
}

header.header-m {
    position: fixed;
    z-index: 100001;
    background: #ffffff !important
}

.mini-cart {
    width: 360px;
    height: 100%;
    float: left;
    padding: 0 15px 20px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100100;
    background: #fff;
    transition: 0.3s;
    box-shadow: 2px 14px 10px rgba(0, 0, 0, .5);
}

    .mini-cart .mini-cart-wrap {
        width: 100%;
        height: 93%;
        float: left
    }

        .mini-cart .mini-cart-wrap .mini-cart-list {
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto
        }

    .mini-cart .minicart-product-wrap {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5
    }

    .mini-cart ul.minicart-list-product li {
        position: relative
    }

    .mini-cart .btn-remove-item {
        position: absolute;
        top: 5px;
        right: 0;
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        -webkit-border-radius: 12.5px;
        -moz-border-radius: 12.5px;
        border-radius: 12.5px;
        color: #bababa;
        cursor: pointer
    }

        .mini-cart .btn-remove-item:hover {
            background: red;
            color: #fff;
            cursor: pointer
        }

    .mini-cart .minicart-product-thumb {
        width: 70px;
        flex: 0 0 auto
    }

        .mini-cart .minicart-product-thumb img {
            width: 100%
        }

    .mini-cart .minicart-product-info {
        flex: 1 1 auto;
        padding-left: 10px;
        padding-right: 20px
    }

        .mini-cart .minicart-product-info .minicart-product-name {
            margin-bottom: 5px;
            font-size: 14px
        }

        .mini-cart .minicart-product-info .minicart-product-quantity {
            color: #757575;
            font-family: "Basis-Grotesque-Pro-Light";
            font-size:14px;
        }

    .mini-cart .close-box {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        background: #181818;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
        cursor: pointer
    }

    .mini-cart .minicart-subtotal {
        margin-top: 12px;
        color: #757575
    }

    .mini-cart .btn-mnc {
        width: 100%;
        float: left;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 5px;
        margin-bottom: 5px;
        background: #181818;
        color: #fff;
        font-weight: 700;
        cursor: pointer
    }

        .mini-cart .btn-mnc.btn-checkout {
            background: none;
            color: #333;
            border: 1px solid #181818
        }

            .mini-cart .btn-mnc.btn-checkout:hover {
                background: #181818;
                color: #fff;
                transition: 0.2s
            }

        .mini-cart .btn-mnc.btn-view-cart {
            margin-top: 20px
        }

    .mini-cart .mini-cart-head {
        padding-top: 15px;
        padding-bottom: 15px
    }

        .mini-cart .mini-cart-head span {
            font-size: 18px;
            padding-left: 5px;
            text-transform: uppercase
        }

        .mini-cart .mini-cart-head i {
            font-size: 15px;
            top: -2px;
            position: relative
        }

.cart .cart-item-wrap {
    width: 100%;
    float: left
}

.cart .cart_item_detail {
    padding-left: 5px
}

.cart .cart-product-name {
    font-size: 18px
}

.cart .pull-left {
    border-bottom: 2px solid #5F5F5F;
    font-size: 16px
}

.cart .color-red {
    display: inline-block;
    margin-top: 3px;
    margin-left: 12px
}

.cart .cart-product-quantity-input {
    clear: left;
    margin-top: 15px;
    text-align: left;
    line-height: 35px;
    padding-top: 20px
}

.cart .cart-checkout-content h3 {
    color: #333;
    font-size: 22px;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px
}

.cart .cart-checkout-content .item {
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 15px 0
}

    .cart .cart-checkout-content .item .item-key {
        text-transform: uppercase;
        font-size: 16px;
        padding: 15px;
        padding-left: 0
    }

    .cart .cart-checkout-content .item .item-value {
        font-size: 16px;
        padding: 15px
    }

.cart .cart-checkout-content .item-btn-submit {
    border-bottom: none
}

.cart .btn-remove-cart-item {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    -webkit-border-radius: 12.5px;
    -moz-border-radius: 12.5px;
    border-radius: 12.5px;
    color: #bababa;
    cursor: pointer;
    display: none
}

    .cart .btn-remove-cart-item:hover {
        background: red;
        color: #fff;
        cursor: pointer
    }

.cart .cart-product-quantity {
    display: none
}

.product-header {
    padding: 15px 15px 30px 15px
}

    .product-header .font-playfair {
        color: #333;
        font-size: 28px
    }

    .product-header .font-sfui {
        color: #5F5F5F;
        font-size: 14px
    }
@media (min-width: 1600px) {

    .article-menu {
        padding-left: 155px !important;
    }
}

@media (min-width: 1500px) {
    #search-box-header {
    }

    .article-menu {
        padding-left: 50px !important;
    }
}

@media screen and (max-width:991px) {
    header .col-md-5 {
        width: 31.66666667% !important;
        float: left
    }

    header .col-md-2 {
        width: 36.66666667% !important;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    header a#ic-logo {
        display: inline-block;
        width: 124px;
        margin-top: 10px
    }

    header .hidden-md:not(.fix-md) {
        display: none
    }
}

/*fix menu for mobile*/
@media (max-width: 768px) {
    .ul-submenu-m-child li > i{top:-5px;}
    #top-title {
        font-size: 11px;
    }
    #our-store h3 {
        margin-top: 30px;
    }
    header a#ic-logo {
        width: 75px;
        margin-top: 16px;
    }
    .menu-m-wrap2 {
        display: block;
    }

    .page-wrap .page-title-head {
        margin-top: 30px !important;
        margin-bottom: 30px !important
    }

        .page-wrap .page-title-head strong {
            font-size: 22px !important
        }

    .cart_item h4 {
        padding-top: 10px
    }

    .cart_item .img_wp {
        padding-left: 0;
        padding-right: 0
    }

    .cart_item img_wp img {
        width: 100%
    }

    ::-webkit-input-placeholder {
        color: #5F5F5F
    }

    ::-moz-placeholder {
        color: #5F5F5F
    }

    :-ms-input-placeholder {
        color: #5F5F5F
    }

    :-moz-placeholder {
        color: #5F5F5F
    }

    .submenu .container {
        padding-left: 0;
        padding-right: 0
    }

    header ul.pull-right li {
        padding-left: 12px
    }

    header ul li {
        padding-right: 12px
    }

    .mini-cart {
        width: 100%
    }

    .cart {
        padding-top: 10px
    }

        .cart .cart-listing {
            display: flex;
            flex-direction: column
        }

        .cart .cart_item {
            margin-top: 0
        }

        .cart .cart-item-wrap {
            display: flex;
            margin: 0;
            padding: 10px 0
        }

            .cart .cart-item-wrap .img_wp {
                width: 70px;
                flex: 0 0 auto
            }

            .cart .cart-item-wrap .cart_item_detail {
                padding-left: 10px;
                flex: 1 1 auto
            }

        .cart .cart_item_detail h4 {
            text-transform: none !important;
            font-size: 14px !important;
            margin-top: 0;
            margin-bottom: 5px;
            padding-top: 5px
        }

        .cart .cart_item_detail p {
            margin-bottom: 5px;
            font-size: 14px
        }

        .cart .cart-product-sku {
            display: none
        }

        .cart .pull-left {
            border-bottom: none;
            font-size: 14px;
            color: #757575
        }

            .cart .pull-left b {
                font-weight: 400
            }

        .cart .color-red {
            display: none
        }

        .cart .checkout_page_header {
            font-size: 20px;
            margin-top: 0
        }

        .cart .cart-product-quantity-input {
            display: none
        }

        .cart .cart-checkout-content h3 {
            font-size: 18px;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 15px;
            padding-bottom: 15px
        }

        .cart .btn.btn-checkout-general {
            margin-top: 0;
            margin-bottom: 15px
        }

        .cart .cart-checkout-content .item {
            padding-top: 5px;
            padding-bottom: 5px
        }

        .cart .btn-remove-cart-item {
            display: block
        }

        .cart .cart-product-quantity {
            display: block
        }

        .cart .cart-checkout-content .item .item-key {
            font-size: 14px;
            padding: 10px 0
        }

        .cart .cart-checkout-content .item .item-value {
            font-size: 14px;
            padding: 10px 0
        }

    .btn-checkout-general {
        font-size: 16px
    }

    .checkout .cart-checkout-content .checkout_page_header {
        border-top: 1px solid #ddd
    }

    .checkout .checkout_page_header_s {
        font-size: 18px
    }

    .checkout .form-register .form-group {
        padding: 0
    }

    .box-get_giftcode .fbox-content-wp {
        padding: 25px
    }

    .fbox-content-body {
        padding: 15px !important
    }

    .select-sale > ul {
        left: -80px !important;
        display: block !important
    }

    .menu-m .visible-xs {
        padding-left: 25px;
        padding-right: 25px;
    }
    .megamenu {
        margin-left: 0;
        margin-right: 0;
    }

        .megamenu > li {
            margin-bottom: 30px;
        }

            .megamenu > li:last-child {
                margin-bottom: 0;
            }

        .megamenu.dropdown-header {
            padding: 3px 15px !important;
        }

    .navbar-nav .open .dropdown-menu .dropdown-header {
        color: #fff;
    }
}

/*end sub menu*/

@media (max-width:767px) {
    header .submenu {
        display: none !important
    }

    header.font-sfui {
        display: block;
    }

    #top-menu {
        display: none;
    }

    .search-box-wp {
        position: fixed;
        /*top: 20px;*/
        right: 0;
        left: 0;
        padding: 15px 15px 3px;
        padding-right: 15px;
        background: #fff;
        z-index: 999;
        margin: 0;
        /*padding: 3px 0;*/
        padding: 10px 0;
        width: 100%;
    }

    #search-box-header {
        position: absolute;
        right: 8%;
        width: 90%;
        /*bottom: 30%;*/
        line-height: 50px;
        top:26px;
    }


    .search-box-wp .search-box-close {
        display: inline-block;
        width: 30px;
        padding: 0 10px 3px 0;
        /*margin-top: 15px;*/
    }

    search-box-close {
        border: none;
        color: gray;
        padding-top: 15px;
        margin-right: 2px;
    }
    .tt-menu {
        top: 30px !important;
        left: 0 !important;
    }
}
/*End menu mobile*/
